/* *******************************************css modificado****************************************** */
.table-body, th, tr {
    border: 1px solid black;
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    border-collapse: collapse;

}

 .table-body td {
      border: 1px solid black;
      border-top: 0;
      border-collapse: collapse;
    }




textarea {
    resize: vertical;
}

@media (max-width: 400px){
  .button-big{ display: none; }
  .button-small{ display: inline; }
}

@media (max-width: 990px) and (min-width: 600px) { 
  .ajuste{
        word-wrap: break-word;
    }
 

}

@media (max-width: 990px) and (min-width: 700px) { 
  .ajuste{
         font-size: .8em;
    }
  

}

@media (max-width: 700px) and (min-width: 600px) { 
  .table-break{
    font-size: .8em;
  }
}

@media (max-width: 360px) { 
  h1{
    font-size: 1.5em;
  }
   img{
    max-width: 100%;
  }
}
@media (max-width: 275px) { 
  h1{
    font-size: 1em;
  }
  img{
    max-width: 100%;
  }
}

@media (max-width: 600px) { 
  .table-break td {
        width: 100%;
        display: block;
        
    }


    .inputTextArea{
      min-height: 70px;
    }

    .titulo{
      background: #eff2eb;
    }
}

/* ************************************ */


.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #000;   /* mudei a cor da borda aqui!!  */
}